
div{
    display: inline-block;
}
    #we{
    background-color: rgba(255,0,0,0.5);
    height: 100px;
    width: 100px; 
    margin: 25px;
    border: 2px solid black;
}
#you{
    background-color: rgba(255,0,0,0.75);
    height: 100px;
    width: 100px;
    margin: 25px;
    border: 2px solid black;
}