*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    background-color: #0f1111;
height:60px;
}
button{
    background-color: #f08804;
    border-radius: 4px;
    border-color: none;
    }
    a{
        text-decoration: none;
        color: white;
        margin-right: 190px;
    }
    #amazon{
        color:#f08804;
        font-size: 25px;
    }
    #search{
        border-color: none;
    }
    main{
        height: 579px;
        background-color: #f08804;
    }
    .content{
        height: 100px;
        width: 100px;
        border: 2px solid black;
        border-radius: 5px;
        display: inline-block;
        margin: 25px;
        padding: 25px;
    }
    footer{
        background-color: #0f1111;
        color: white;
        text-align: center;

    }